.pic{
    height: 200px;
    width: 300px;
    margin: auto 0;
}
.work{
    margin: 3px;
    text-align:center;
}

.container{
    height: 100vh;
    width: 100%;
    margin-top:30px;
    font-size: 40px; 
    display:flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
}