.workContainer{
    display: flex;
    flex-direction: row wrap;
    // padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    padding: 10px;
}
.project-title{
 text-align: center;
 font-size: 90px;
 margin-top: 300px;
}