$tan: #D8BD8A;
$cream: #D8D78F;
$pink: #AA5042;
$green: #87A330;
$taupe: #4B3831;

.nav{
margin: 0 auto;
margin-right: 20px;
float:right;
display:flex;
flex-direction: column;
flex-wrap: wrap;
width: 100px;
justify-content: center;
align-items: center;
p{
margin-top:-10px;
text-align:center;
}
}

img{
height:75px;
width: 75px;
}

.link{
  text-decoration:none;
  font-size: 15px; 
  color: $taupe;
  margin: 1em;
  border-bottom: 1px $taupe solid;
  text-align: center;
  display:flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}